services:
  api:
    container_name: vanish-vault-api
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    depends_on:
      db:
        condition: service_healthy
    networks:
      - public
      - private

  db:
    image: postgres:16-alpine
    container_name: vanish-vault-db
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - private

  caddy:
    image: caddy:2.11-alpine
    container_name: vanish-vault-proxy
    depends_on:
      api:
        condition: service_healthy
    networks:
      - public

volumes:
  postgres-data:
  caddy_data:
  caddy_config:

networks:
  public:
    driver: bridge
  private:
    driver: bridge