:80 {
	encode gzip

	reverse_proxy /healthz api:8080

	reverse_proxy /api/* api:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

	reverse_proxy /swagger/* api:8080 {
		header_up Host {host}
	}

	reverse_proxy /docs/* api:8080 {
		header_up Host {host}
	}

	redir / /swagger/index.html 302

	log {
		output stdout
		level INFO
	}
}